* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body{
  background-color: #4e4e4e;
}

h1 {
  color: #ffffff;
  margin: 10px auto;
  width: auto;
  max-width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}


.post {
  margin: 20px auto;
  padding: 20px;
  max-width: 50%;
  width: auto;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #323232;
  padding: 10px;
  text-align: center;
  color: rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addPost {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: 25%;
}

label {
  margin: 10px 0px 0px 10px;
  color: #ffffff;
}

input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  min-width: 200px !important;
  border: 1px solid transparent;
  background-color: #323232;
  color: rgb(200, 200, 200);
}

button {
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  max-width: 50%;
  min-width: 100px !important;
  border: 1px solid transparent;
  background-color: #cfcfcf !important;
  color: rgb(70, 70, 70);
  cursor: pointer;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive CSS */
@media only screen and (max-width: 768px) {
  .addPost {
    max-width: 50%;
  }

  input {
    min-width: 150px !important;
  }

  button {
    max-width: 70%;
    min-width: 80px !important;
  }
}
