* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #0b0c10;
}

h1 {
  color: #ffffff;
  margin: 10px auto;
  width: auto;
  max-width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.post {
  margin: 20px auto;
  padding: 20px;
  max-width: 50%;
  width: auto;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #181b24;
  padding: 10px;
  text-align: center;
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addPost {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: 25%;
}

label {
  margin: 10px 0px 0px 10px;
  color: #ffffff;
}

article {
  background-color: #181b24;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  min-width: 200px !important;
  border: 1px solid transparent;
  background-color: #181b24;
  color: rgb(200, 200, 200);
}

select {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  min-width: 200px !important;
  border: 1px solid transparent;
  background-color: #181b24;
  color: rgb(200, 200, 200);
}

button {
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  /* max-width: 50%; */
  /* min-width: 100px ; */
  border: 1px solid transparent;
  background-color: #eeeeee;
  color: #31363f;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reactionBtn {
  margin: 5px;
  padding: 5px;
  background-color: #31363f;
  color: #eeeeee;
  padding: 5px;
  max-width: 20%;
}

.authTime {
  display: flex;
}

/* Responsive CSS */
@media only screen and (max-width: 768px) {
  .addPost {
    max-width: 50%;
  }

  input {
    min-width: 150px !important;
  }

  button {
    max-width: 70%;
    min-width: 80px !important;
  }
}

@media only screen and (max-width: 480px) {
  .post {
    margin: 10px;
    max-width: 100%;
  }
}
